.container .row .col-md-3  h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px;
    line-height: 45px;
    border-bottom: 1px solid #5a6268;

}
.container .row .col-md-9  h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0px;
    line-height: 45px;
    border-bottom: 1px solid #5a6268;

}

